.messages {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.messages__users {
    font-size: 16px;
    font-weight: 600;
}

.messages__users > *:not(:last-child) {
    margin-bottom: 10px;
}

.messages__chat {
    font-size: 18px;
    background-color: #272932;
    padding: 10px;
    border-radius: 10px;
}
