.mypost {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.mypost>*:not(:last-child) {
    margin-bottom: 10px;
}

.mypost__form {
    display: flex;
    flex-direction: column;
}

.mypost__field {
    width: 100%;
    height: 50px;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
    resize: none;
    overflow: hidden;
}

.mypost__button {
    align-self: flex-end;
    background-color: #4d7ea8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    height: 25px;
    font-size: 14px;
    width: 95px;
    color: #fff;
}

.mypost__button:hover {
    filter: brightness(110%);
    transition: filter 0.3s ease 0s;
}

.mypost__button:active {
    filter: brightness(90%);
}

.mypost__title {
    font-size: 24px;
    font-weight: 500;
    border-bottom: 1px solid #8284895b;
}

.myposts>*:not(:last-child) {
    margin-bottom: 15px;
}