.post {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #272932;
    width: 250px;
}

.post__wrapper {
    display: flex;
    align-items: center;
    background-color: #adb9ce;
    border-radius: 50px 10px 10px 50px;
    margin-bottom: -12.5px;
}

.post__avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}
.post__avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post__text {
    margin-left: 5px;
}

.post__like {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-right: 5px;
    color: #fff;
    background-color: #4d7ea8;
    height: 25px;
    width: 50px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    -webkit-box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.2);
}

.post__like img {
    width: 16px;
    height: 16px;
    margin-right: 3px;
}
